:root{
    --primaryBrand: #4D5AE5;
    --pressedState: #404BBF;
    --mainColor: #2E2F42;
    --successColor: #31D0AA;
    --textColor: #434455;
    --subtleText: #8E8F99;
    --accentColor: #E7E9FC;
    --lightBg: #F4F4FD;
    --white: #FFFFFF;
    --modalBg: #FCFCFC;
}
* {
    box-sizing: border-box; 
    padding: 0;
    margin: 0;
}
body{
    font-family: Roboto, sans-serif;
    color: var(--textColor);
    background-color: var(--white);
    position: relative;
}

img {
    display: block;
    max-width: 100%;
  }
input {
	font-family: inherit;
}
.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
.backdrop {
    position: fixed;
    background-color: rgba(46, 47, 66, 0.4);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal{
    width: 408px;
    min-height: 584px;
    background-color: var(--modalBg);
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left:50%;
    padding: 72px 24px 24px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translate(-50%, -50%) scale(1);
}
.m-close-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    background-color: var(--accentColor);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.m-close-btn:hover,
.m-close-btn:focus {
    background-color: var(--pressedState);
    border: none;
}
.icon-close{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.m-close-btn:hover .icon-close,
.m-close-btn:focus .icon-close{
    fill: #ffffff;
}
.header{
    border-bottom: 1px solid var(--accentColor);
    padding: 24px 0;
    height: 72px;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.logo{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em; 
    text-transform: uppercase;
    color: var(--primaryBrand);
}
.link{
    text-decoration: none;
}
.logo-accent{
    color: var(--mainColor);
}
.list{
    list-style: none;
}
.list-item-link{
    position: relative;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--mainColor);
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.active{
    color:var(--pressedState);
}
.list-item-link:hover,
.list-item-link:focus{
    color: var(--pressedState);
}
.list-item-link:hover::after,
.list-item-link:focus::after,
.list-item-link.active::after{
    content: "";
    display: block;
    height: 4px;
    left: 0px;
    background: var(--pressedState);
    border-radius: 2px;
    bottom: -1px;
    position: absolute;
    left: 0;
    width: 100%;
}

.contacts{
    font-style: normal;
    align-self: flex-end;
}
.address-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--textColor);
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.address-link:hover,
.address-link:focus {
    color: var(--pressedState);
}
.hero{
    background-color: var(--mainColor);
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),url(./../images/hero_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 4px;
    padding: 188px 0 188px 0;
    max-width: 1440px;
    margin: 0 auto;
}
.hero-title{
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white);
    max-width: 496px;
    margin: 0 auto 48px;
}
.btn-title{
    background-color: var(--primaryBrand);
    color:var(--white);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
    cursor: pointer;
    padding: 16px 32px;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    border-radius: 4px; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-title:hover,
.btn-title:focus{
    background-color:var(--pressedState);
}
.title{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--mainColor);
}
.subtitle{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--mainColor);
}
.subtitle-text{
    font-size: 16px;
    line-height: 1.5;   
    letter-spacing: 0.02em;
    color: var(--textColor);
}
.team{
    background-color: var(--lightBg);
}
.team-list-item{
    background-color: var(--white);
}
.team-icon{
    fill: var(--lightBg);
}
.footer{
    background-color: var(--mainColor);
}
.footer-text{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--lightBg);
}
.logo-accent-light{
    color: var(--lightBg);
}
.container{
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
}
.header-container{
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.nav {
    display: flex; 
    align-items: center;
    height: 100%;
}
.header-logo{
    margin-right: 76px;
}
.nav-list{
    display: flex;
    gap: 40px; 
    height: 100%;
}
.nav-list-item {
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list{
    display: flex;
    align-items: center;
    gap: 40px;   
}
.advantages{
    padding: 120px 0;
}
.advantages-list{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.advantages-list-item{
    width: calc((100% - 72px) / 4);
}
.advantages-subtitle{
    margin-bottom: 8px;
}
.about{
    padding-bottom: 120px;
}
.about-title{
    margin-bottom: 72px;
}
.about-list{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.about-list-item{
    width: calc((100% - 48px) / 3);
}
.team{
    padding: 120px 0;
}
.team-title{
    margin-bottom: 72px;
}
.team-list{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.team-list-item {
    width: calc((100% - 72px) / 4);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
border-radius: 0px 0px 4px 4px;
}
.team-subtitle-wrap{
    padding: 32px 0;
}
.team-subtitle{
    text-align: center;
    margin-bottom: 8px;
}
.team-subtitle-text{
    text-align: center;
    margin-bottom: 8px;
}
.team-social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.team-social-link {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--primaryBrand);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-link:hover,
.team-social-link:focus {
    background-color: var(--pressedState);
}
.footer{
    padding: 100px 0;
}
.footer-link{
    display: inline-block;
    margin-bottom: 16px;
}
.footer-container{
    display: flex;
    align-items: baseline
}
.footer-social-link {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--primaryBrand);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
.footer-social-link:hover,
.footer-social-link:focus {
    background-color: var(--successColor);
}
.footer-social-list {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}
.footer-link-wrap{
    margin-right: 120px;
}
.footer-social-title{
    color: var(--white);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}
.portfolio {
    padding: 96px 0 120px 0;
}
.filter-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}
.filter-btn{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: var(--lightBg);
    border: 1px solid var(--accentColor);
    color: var(--primaryBrand);
    cursor: pointer;
    border-radius: 4px;
    padding: 12px 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-btn:hover,
.filter-btn:focus{
    background-color: var(--pressedState);
    border:none;
    color:var(--white);
    border-color: transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 48px 24px;
}
.portfolio-list-item {
    width: calc((100% - 48px) / 3);
    
}

.portfolio-list-link{
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-link:hover,
.portfolio-list-link:focus{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-subtitle {
   margin-bottom: 8px;
}
.portfolio-subtitle-wrap {
    border-bottom: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
    padding: 32px 16px;
}
.portfolio-img {
    width: 360px;
    height: 300px;
    position: relative;
    overflow: hidden;
}
.portfolio-img-overlay {
    position: absolute;
    color: var(--lightBg); 
    padding: 40px 32px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: var(--primaryBrand);
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-link:hover .portfolio-img-overlay,
.portfolio-list-link:focus .portfolio-img-overlay {
    transform: translateY(0);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.advantages-icon-wrap {
    background-color: var(--lightBg);
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    border-radius: 4px;
}
.customers{
    padding: 120px 0;
}
.customers-title{
    margin-bottom: 72px;
}
.customers-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.customers-link{
    fill: var(--subtleText);
    width: 100%;
    height: 100%;
    border: 1px solid var(--subtleText);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--subtleText);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:hover,
.customers-link:focus{
    border-color: var(--pressedState);
    fill: var(--pressedState);
    color: var(--pressedState);
}
.customers-list-item {
    width: calc((100% - 120px) / 6); 
    height: 88px;   
}
.customers-icon{
    fill: currentColor;
}
.form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: var(--modalBg);
}
.form-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing:  0.02em;
    margin-bottom: 16px;
    color: var(--mainColor);
    text-align: center;
}
.input-wrap {
    position: relative;
}
.fields {
    margin-bottom: 8px;
}
.form-input {
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    padding-left: 38px;
    width: 100%;
    height: 40px;
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 
.comment {
    margin-bottom: 16px;

}
.form-input:focus {
    border-color: var(--primaryBrand);
}
.form-input:focus + .form-icon {
    fill: var(--primaryBrand);
}
.form-label {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--subtleText);
    display: block;
}

.form-textarea {
    resize: none;
    outline: none;
    font-size: 12px;
    line-height: 1.17;
    padding-left: 16px;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 100%;
    height: 120px;
    border-radius: 4px;
    padding: 8px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
    background-color: transparent;
}
.form-textarea:focus {
    border-color: var(--primaryBrand);
}

.form-textarea::placeholder {
    font-size: 12px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.48px;
    color: rgba(46, 47, 66, 0.4);
}
.form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.check-wrap {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}
.privacy-label{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    align-items: center;
    color: var(--subtleText);
}
.checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex; 
    align-items: center;
    justify-content: center;
    fill: transparent; 
    margin-right: 8px;
}
.privacy-link {
    color: var(--primaryBrand);
}
.policy:checked + .privacy-label > .checkbox {
    background-color: #404BBF;
    border: none;
    fill: var(--lightBg);
    border-color: #404BBF;
  }

.form-btn {
    display: block;
    padding: 16px 32px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: var(--primaryBrand);
    color: var(--white);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    min-width: 169px;
    height: 56px;
    margin: 0 auto;
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-btn:hover,
.form-btn:focus{
    background-color:var(--pressedState);
}
.footer-social {
    margin-right: 80px;
}
.footer-form-btn {
    color: var(--white);
    border: none;
    min-width: 165px;
    height: 40px;
    display: flex; 
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--primaryBrand);
}
.footer-form-icon {
    margin-left: 16px;
}
.subscribe-title {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--white);
    margin-bottom: 16px;
}
.form-footer {
    display: flex;
    gap: 24px;
    align-items: center;
}
.footer-input {
    width: 264px;
    height: 40px;
    border: 1px solid var(--white); 
    background-color: transparent;
    font-size: 12px; 
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: var(--white)
}
.footer-input::placeholder {
    color: var(--white);
}